---
import AsideMenu from "../components/UI/AsideMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <AsideMenu />
    <main>
      <slot />
    </main>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>
</html>
<style is:global>
  :root {
    ---text-primary: #fff;
    --color-scheme: dark;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f5f5f5;
    color: #1b222e;
    font-family: "Poppins", sans-serif, system-ui;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  main {
    margin-left: 14rem;
    width: 100%;
    min-height: 100vh;
  }

  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #00060f;
    color: var(---text-primary);
  }
  aside {
    width: 14rem;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    background: #060d18;
    color: var(---text-primary);
  }
</style>
