---
import AsideMenu from '../components/UI/AsideMenu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<AsideMenu />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		---text-primary: #fff;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f5f5f5;
		color: #1b222e;
		font-family: "Poppins", sans-serif, system-ui;
	}

	@font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

	  @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

	  @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

	  @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

	body {
		width: calc(100% - 10rem);
		height: 100vh;
		display: flex;
		background: #f5f5f5;
	}
	aside {
		width: 12rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: #1b222e;
		color: var(---text-primary)
	}
</style>
