---
import UserAvatarIcon from "@/icons/UserAvatarIcon.astro";
import { routes } from "@/lib/utils";
---

<aside class="py-8">
    <div class="w-24 h-24 mx-auto flex justify-center items-center bg-red-400 rounded-full">
        <UserAvatarIcon color="white" width="65" height="65" />
    </div>
    <article class="w-full mt-12 flex flex-col gap-4">
        <ul>
            {
                routes.map((route) =>
                    {
                        if (route.ICON === "hr") {
                            return <hr />
                        }
                        
                        return route.PATH &&
                        <li class="flex items-center gap-2">
                            <a href={route.PATH} class="flex items-center gap-2">
                                {route.ICON && <route.ICON color="#ccc" width="30" height="30" />}
                                <span>{route.NAME}</span>
                            </a>
                        </li>
                    }
                )
            }
        </ul>
    </article>
</aside>


<style>
    li {
        width: 100%;
        height: 3rem;
        list-style: none;
    }
    
    a {
        width: 100%;   
        height: 100%; 
        padding-left: 1rem;
        text-decoration: none;
        color: #b3b3b3d2;
        font-size: 15px;
        font-weight: 400;
        border-left: 4px solid transparent;
        display: flex;
        align-items: center;
        gap: .5rem;
        
        &:hover {
            background-color: #81818162;
            border-left-color: #d10e0e;
        }
    }

    hr {
        margin: 1rem auto;
        width: 80%;
        height: 1px;
        background-color: #cccccc31;
        border: none;
    }
</style>